In [2]:
# 1 Write a code to create a string with your name and print it?
#Ans
name="Lalit Singh"
print(name)

Lalit Singh

In [3]:
# 2 Write a code to find the length of the string "Hello World"?
#Ans
code="hello world"
print(len(code))

11

In [54]:
# 3  Write a code to slice the first 3 characters from the string "Python Programming ?
#Ans
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [55]:
# 4 Write a code to convert the string "hello" to uppercase?
#Ans

text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [46]:
# 5  Write a code to replace the word "apple" with "orange" in the string "I like apple"?
#Ans
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [42]:
# 6 Write a code to create a list with numbers 1 to 5 and print it?
#Ans
num=[1,2,3,4,5]
num

[1, 2, 3, 4, 5]

In [41]:
# 7 Write a code to append the number 10 to the list [1, 2, 3, 4] ?
#Ans
marks=[1, 2, 3, 4, 5]
marks.append(10)
print(marks)

[1, 2, 3, 4, 5, 10]

In [40]:
# 8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
#Ans
my_list=[1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [33]:
# 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
#Ans
list_name=['a', 'b', 'c', 'd']
list_name[1]

'b'

In [ ]:
# 10 Write a code to reverse the list [10, 20, 30, 40, 50].?

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

In [ ]:
# 11 Write a code to create a tuple with the elements 10, 20, 30 and print it?
#Ans
tuple=(10,20,30)
print(tuple)

In [51]:
# 12  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [ ]:
# 13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?
#Ans

# Define the tuple
numbers = (1, 2, 3, 2, 4, 2)
count_of_twos = numbers.count(2)
print("The number 2 appears", count_of_twos, "times in the tuple.")

In [ ]:
# 14 . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print("The index of 'cat' is:", index_of_cat)

In [58]:
# 15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

fruit=('apple', 'orange', 'banana')
if 'banana' in fruit:
    print("banana is a tuple")
else:
     print("banana is a not tuple")

banana is a not tuple

In [56]:
# 16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?
#
set={1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [45]:
# 17  Write a code to add the element 6 to the set {1, 2, 3, 4}?
#Ans
set= {1, 2, 3, 4}
set.add(6)
set

I Lake ['apple']

In [34]:
# 18 Write a code to create a tuple with the elements 10, 20, 30 and print it?
#Ans
tuple=(10,20,30)
print(tuple)

(10, 20, 30)

In [52]:
# 19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [35]:
# 20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?
#Ans

# Define the tuple
numbers = (1, 2, 3, 2, 4, 2)
count_of_twos = numbers.count(2)
print("The number 2 appears", count_of_twos, "times in the tuple.")

The number 2 appears 3 times in the tuple.

In [53]:
# 21 . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [ ]:
# 22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

fruit=('apple', 'orange', 'banana')
if 'banana' in fruit:
    print("banana is a tuple")
else:
     print("banana is a not tuple")

In [ ]:
# 23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?
#
set={1,2,3,4,5}
set

In [47]:
# 24  Write a code to add the element 6 to the set {1, 2, 3, 4}?
#Ans
set= {1, 2, 3, 4}
set.add(6)
set

{1, 2, 3, 4, 6}